body{

}

.appLink{
  cursor: pointer;
  color: #000e26;
  text-decoration: underline;
}
.appLink:hover{
  color: #40454e;
}

.orange{
  color: #ff6f00;
}
.orange:hover{
  color: #7d5937;
}
.bold{
  font-weight: bold;
  font-size: 16px;
}
.buttonNone{
  background: none;
  border: none;
}

.uploadImage{
  max-width: 150px;
  max-height: 100px;
}
.removeUploadBtn{
  background: sandybrown;
  position: absolute;


}
.uploadSpan{
position: relative;
}
/*.threadImageFull{*/
/*  position: absolute;*/
/*  margin: auto;*/
/*  left: 0;*/
/*  right: 0;*/
/*  top: auto;*/
/*  bottom: 0;*/
/*max-width: 80vw;*/
/*  max-height: 80vh;*/
/*}*/
.threadImageFull{

  margin-right: auto;
  margin-left: auto;

}
.threadImageFullDiv{
  background-color: #eee;
  position: fixed;
  text-align: center;
  top: 50%;
  left: 50%;
  padding: 3px;
  transform: translate(-50%, -50%);

}

.threadImagePreview{
  /*position: absolute;*/
max-width: 180px;
  max-height: 180px;
  padding: 4px;
}

.postIndex{
  color: #82b314;
}


.modalPost{
  background-color: #eee;
  position: fixed;
  width: 80%;
  max-width: 500px;
  text-align: center;
  top: 50%;
  left: 50%;
  padding: 10px;
  transform: translate(-50%, -50%);
}
.threadPreview{
  /*border: #000e26 solid 1px;*/
  margin: 10px 0 10px 0;
  padding: 5px;
}
.opText{
  padding: 10px;
}
.opPost{
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  background-color: #dbdbdb;
  border: rgb(182, 175, 175) solid 1px;
  border-radius: 3px;

}
.previewPosts{
  margin-left: 10%;
}
.postText{
  padding: 10px 10px 10px 20px;
  /*background-color: rgba(238, 234, 234, 0.48);*/
  /*width: max-content;*/
}
.postTextSpan{
  word-break: break-word;
}


.postHeader{
  padding: 4px 10px 3px 10px;
  /*background-color: rgba(246, 243, 243, 0.08);*/
}
.postFull{
  border: rgb(238, 234, 234) solid 1px;
  border-radius: 3px;
  margin-bottom: 7px;
  background-color: rgb(246, 242, 242);
  width: max-content;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 640px){
  .postFull{
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
}
  .previewPosts{
    margin-left: 20px;
  }
  .notOPsPosts{
    margin-left: 10px;
  }
}

.removeButton{
  margin: 3px;
  background-color: #f8d5d5;
  border-radius: 4px;
  border: #ff8b8b solid 1px;
}  .removeButton:active{
  box-shadow: 0 1px #666;
  transform: translateY(2px);
}
.pinButton{
  margin: 3px;
  background-color: #ffcc97;
  border-radius: 4px;
  border: #ffa52d solid 1px;
}  .pinButton:active{
  box-shadow: 0 1px #666;
  transform: translateY(2px);
}

.createButton{
  background-color: rgba(255, 111, 0, 0.89);
  border-radius: 4px;
  padding: 6px 12px;
  border: #ff6f00 solid 1px;
  margin-left: 20px;
}  .createButton:active{
     box-shadow: 0 1px #666;
     transform: translateY(2px);
   } .createButton:disabled{
          background-color: rgba(255, 196, 145, 0.89);
          border: #ffb583 solid 1px;
        }

.inputHide {
  opacity: 0;
  z-index: -1000;
  position: absolute;
  width: 1px;
  height: 1px;
  top:0;
  left: 0;
}
.custom-file-upload {
  border-radius: 4px;
  background-color: rgba(255, 111, 0, 0.18);
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
.replyPostPreview{
  position: absolute;
  margin-left: 20px;
}