
.appLink{
  cursor: pointer;
  color: #000e26;
  text-decoration: underline;
}
.orange{
  color: #ff6f00;
}
.orange:hover{
  color: #7d5937;
}
.bold{
  font-weight: bold;
  font-size: 16px;
}
.buttonNone{
  background: none;
  border: none;
}

.uploadImage{
  max-width: 150px;
  max-height: 100px;
}
.removeUploadBtn{
  background: sandybrown;
  position: absolute;


}
.uploadSpan{
position: relative;
}
.threadImageFull{
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
max-width: 80vw;
  max-height: 80vh;
}
.threadImagePreview{
  /*position: absolute;*/
max-width: 150px;
  max-height: 150px;
}